.container{
    max-width: 100rem;
    min-width: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.only-mobile{
    display: none;
    @media(max-width: 900px){
        display: unset;
    }
}