@mixin navLink($color) {
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1rem;
    .navbar__links__item__text{
        text-decoration: none;
        color: $color;
    }
    *, &::before{
        transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
    }
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 0.125rem;
        background: $color;
    }
    &:hover{
        &::before{
            transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
            width: 100%;
        }
        .navbar__links__item__text{
            transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
            transform: translateY(-0.25rem);
        } 
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,0.1);
    }
}

@mixin button {
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus{
        outline: none;
        box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,0.1);
    }
}