@import "mixins";
@import "helpers";

$bg: #fefefe;
$bg-dark: #dfdfdf;
$card-bg: #fff;

$primary-font: #131313;
$secondary-font: #454545;

$primary-accent: #851f18;
$secondary-accent: #c24a16;

$primary-accent-font: #fff;
$secondary-accent-font: #fff;

$font-family: 'Orbitron', sans-serif;

@import "partials";

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: $font-family;
}

*::-moz-focus-inner {
    border: 0 !important;
}

body{
    background: $bg;
    color: $primary-font;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar{
    background: $secondary-accent;
    background: linear-gradient(45deg, $secondary-accent 30%, $primary-accent 30%);
    color: $primary-accent-font;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;

    & > .container{
        display: flex;
        align-items: center;
    }
    
    &__brand{
        transition: all 0.2s ease;
        height: 5rem;
        &__img{
            height: 100%;
        }
    }
    &__links{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        list-style-type: none;
        &__item{
            margin: 0 1.5rem;
            @include navLink($primary-accent-font);
        }
    }
    &__mobile{
        flex: 1;
        display: none;
        justify-content: flex-end;
        align-items: center;
        &__toggle{
            @include button();
            padding: 0;
            width: 3rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .line{
                transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
                position: absolute;
                height: 0.125rem;
                background: $primary-accent-font;
                border-radius: 0.1rem;
                &:nth-child(1){
                    top: 1rem;
                    left: 0.5rem;
                    width: 2rem;
                }
                &:nth-child(2){
                    top: 1.5rem;
                    left: 0.5rem;
                    width: 1.25rem;
                }
            }
            .circle{
                transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 50%;
                border: 2px solid $primary-accent-font;
                transform: scale(0);
            }
        }
    }
    &--scrolled{
        .navbar__brand{
            transition: all 0.2s ease;
            height: 2.5rem;
        }
    }
    &--toggled{
        .navbar__links{
            transition: all 0.2s ease;
            max-height: 20rem;
        }
        .navbar__mobile{
            &__toggle{
                .line{
                transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
                    &:nth-child(1){
                        top: 50%;
                        left: 50%;
                        width: 2rem;
                        transform: translate(-50%, -50%);
                    }
                    &:nth-child(2){
                        top: 50%;
                        left: 50%;
                        width: 2rem;
                        transform: rotate(90deg) translate(0, 1rem);
                    }
                }
                .circle{
                    transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);   
                    transform: scale(1);
                }
            }
        }
    }
    @media(max-width: 900px){
        background: $primary-accent;
        .navbar__brand{
            transition: all 0.2s ease;
            height: 3.25rem;
        }
        & > .container{
            flex-wrap: wrap;
        }
        &__links{
            flex: 0 0 100%;
            transition: all 0.2s ease;
            max-height: 0;
            overflow: hidden;
            justify-content: center;
            flex-wrap: wrap;
            &__item{
                flex: 1;
                margin: 2rem;
            }
        }
        &__mobile{
            display: flex;
        }
        &--scrolled{
            .navbar__brand{
                transition: all 0.2s ease;
                height: 2.5rem;
            }
        }
    }
}

.hero{
    position: relative;
    padding: 3.5rem 0 0 0;
    min-height: 43.5rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
    overflow: hidden;
    &__img{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-height: 43.5rem;
        min-height: 10rem;
        max-width: 2000px;
        object-fit: cover;
    }
    .container{
        min-height: 43.5rem;
    }
    &__title{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        background: $bg;
        width: 60%;
        h1{
            font-size: clamp(1.5rem, 2vw, 3rem);
            font-weight: 800;
            margin: 0 0 1rem 0;
        }
        p{
            font-size: clamp(1rem, 1vw, 1.25rem);
            font-weight: 400;
            line-height: 1.75;
            margin: 0;
        }
    }
    @media(max-width: 1400px){
        min-height: unset;
        &__img{
            position: relative;
            margin-bottom: -1rem;
        }
        .container{
            min-height: unset;
        }
        &__title{
            position: relative;
            text-align: center;
            padding: 2rem;
            background: $bg;
            width: 100%;
        }
    }
}

.services{
    padding: 3rem 0;
    &__title{
        text-align: center;
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 800;
        margin: 1rem 0;
    }
    &__desc{
        font-size: clamp(0.8rem, 1vw, 1rem);
        text-align: center;
        font-weight: 400;
        line-height: 1.75;
        margin: 1rem 0;
        color: $secondary-font;
    }
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        padding: 1rem;
        gap: 1rem;
    }
    &__item{
        transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6); 
        cursor: pointer;
        &__icon{
            text-align: center;
            padding-bottom: 1rem;
            margin: 1rem 0;
            color: $secondary-font;
            border-bottom: 1px solid rgba($color: $primary-font, $alpha: 0.25);
            i{
                font-size: clamp(2rem, 2vw, 3rem);
            }
        }
        &__title{
            text-align: center;
            font-size: clamp(1rem, 1vw, 1.5rem);
            margin-bottom: 1rem;
            color: $secondary-accent;
        }
        &__desc{
            text-align: center;
            font-size: clamp(0.8rem, 1vw, 1rem);
            line-height: 1.25;
            margin-bottom: 1rem;
        }
        &:hover{
            transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6); 
            transform: translateY(-0.75rem);
        }
    }
}

.register{
    background: $secondary-accent;
    color: $secondary-accent-font;
    padding: 2rem 1rem;
    margin: 4rem 0 0 0;
    *{
        color: $secondary-accent-font;
    }
    &__title{
        margin: 0;

    }
}

footer{
    padding: 2rem;
    background: $bg-dark;
    text-align: center;
}