.container {
  max-width: 100rem;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.only-mobile {
  display: none;
}

@media (max-width: 900px) {
  .only-mobile {
    display: unset;
  }
}

.section__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.25;
  margin: 1rem;
}

.section__separator img {
  width: 5rem;
}

.section__separator::before, .section__separator::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0.125rem;
  width: 100%;
  background: #454545;
  border-radius: 1rem;
}

.card {
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), inset 0 0 0 0.025rem #851f18;
          box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1), inset 0 0 0 0.025rem #851f18;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "Orbitron", sans-serif;
}

*::-moz-focus-inner {
  border: 0 !important;
}

body {
  background: #fefefe;
  color: #131313;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  background: #c24a16;
  background: linear-gradient(45deg, #c24a16 30%, #851f18 30%);
  color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 5rem;
}

.navbar__brand__img {
  height: 100%;
}

.navbar__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar__links__item {
  margin: 0 1.5rem;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

.navbar__links__item .navbar__links__item__text {
  text-decoration: none;
  color: #fff;
}

.navbar__links__item *, .navbar__links__item::before {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbar__links__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 0.125rem;
  background: #fff;
}

.navbar__links__item:hover::before {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 100%;
}

.navbar__links__item:hover .navbar__links__item__text {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.navbar__links__item:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
}

.navbar__mobile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile__toggle {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__mobile__toggle:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
}

.navbar__mobile__toggle .line {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  position: absolute;
  height: 0.125rem;
  background: #fff;
  border-radius: 0.1rem;
}

.navbar__mobile__toggle .line:nth-child(1) {
  top: 1rem;
  left: 0.5rem;
  width: 2rem;
}

.navbar__mobile__toggle .line:nth-child(2) {
  top: 1.5rem;
  left: 0.5rem;
  width: 1.25rem;
}

.navbar__mobile__toggle .circle {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar--scrolled .navbar__brand {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 2.5rem;
}

.navbar--toggled .navbar__links {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-height: 20rem;
}

.navbar--toggled .navbar__mobile__toggle .line {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbar--toggled .navbar__mobile__toggle .line:nth-child(1) {
  top: 50%;
  left: 50%;
  width: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar--toggled .navbar__mobile__toggle .line:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 2rem;
  -webkit-transform: rotate(90deg) translate(0, 1rem);
          transform: rotate(90deg) translate(0, 1rem);
}

.navbar--toggled .navbar__mobile__toggle .circle {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 900px) {
  .navbar {
    background: #851f18;
  }
  .navbar .navbar__brand {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 3.25rem;
  }
  .navbar > .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar__links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    max-height: 0;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar__links__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 2rem;
  }
  .navbar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar--scrolled .navbar__brand {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 2.5rem;
  }
}

.hero {
  position: relative;
  padding: 3.5rem 0 0 0;
  min-height: 43.5rem;
  background: white;
  background: radial-gradient(circle, white 0%, #bbbbbb 100%);
  overflow: hidden;
}

.hero__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-height: 43.5rem;
  min-height: 10rem;
  max-width: 2000px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .container {
  min-height: 43.5rem;
}

.hero__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background: #fefefe;
  width: 60%;
}

.hero__title h1 {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 800;
  margin: 0 0 1rem 0;
}

.hero__title p {
  font-size: clamp(1rem, 1vw, 1.25rem);
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
}

@media (max-width: 1400px) {
  .hero {
    min-height: unset;
  }
  .hero__img {
    position: relative;
    margin-bottom: -1rem;
  }
  .hero .container {
    min-height: unset;
  }
  .hero__title {
    position: relative;
    text-align: center;
    padding: 2rem;
    background: #fefefe;
    width: 100%;
  }
}

.services {
  padding: 3rem 0;
}

.services__title {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 800;
  margin: 1rem 0;
}

.services__desc {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
  margin: 1rem 0;
  color: #454545;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.services__item {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  cursor: pointer;
}

.services__item__icon {
  text-align: center;
  padding-bottom: 1rem;
  margin: 1rem 0;
  color: #454545;
  border-bottom: 1px solid rgba(19, 19, 19, 0.25);
}

.services__item__icon i {
  font-size: clamp(2rem, 2vw, 3rem);
}

.services__item__title {
  text-align: center;
  font-size: clamp(1rem, 1vw, 1.5rem);
  margin-bottom: 1rem;
  color: #c24a16;
}

.services__item__desc {
  text-align: center;
  font-size: clamp(0.8rem, 1vw, 1rem);
  line-height: 1.25;
  margin-bottom: 1rem;
}

.services__item:hover {
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
}

.register {
  background: #c24a16;
  color: #fff;
  padding: 2rem 1rem;
  margin: 4rem 0 0 0;
}

.register * {
  color: #fff;
}

.register__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.register__content__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40rem;
          flex: 0 1 40rem;
  padding-right: 2rem;
}

.register__content__info__title {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 800;
}

.register__content__info__desc {
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 400;
  line-height: 1.75;
}

.register__content__options {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 1rem;
}

.register__content__options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 1.5rem 0;
  width: 100%;
  height: 15rem;
  cursor: pointer;
}

.register__content__options__item::before {
  content: '';
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #851f18;
  background: linear-gradient(310deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, #851f18 10%, #851f18 90%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.register__content__options__item__label {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 800;
  z-index: 2;
}

.register__content__options__item img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  height: 15rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: 3;
}

.register__content__options__item:hover::before {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 1;
}

.register__content__options__item:hover .register__content__options__item__label {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

.register__content__options__item:hover img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.25) translateX(2rem);
          transform: scale(1.25) translateX(2rem);
}

@media (max-width: 1500px) {
  .register__content__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 0;
    padding: 1rem;
    text-align: center;
  }
  .register__content__options__item {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 10rem;
  }
  .register__content__options__item::before {
    opacity: 1;
  }
  .register__content__options__item .register__content__options__item__label {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding: 0 0 0 2rem;
  }
  .register__content__options__item img {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height: clamp(7.5rem, 10rem, 30vw);
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    z-index: 3;
  }
  .register__content__options__item:hover .register__content__options__item__label {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  .register__content__options__item:hover img {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.25) translateX(2rem);
            transform: scale(1.25) translateX(2rem);
  }
}

@media (max-width: 500px) {
  .register__content__options__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 5rem;
  }
  .register__content__options__item .register__content__options__item__label {
    padding: 0;
  }
  .register__content__options__item img {
    display: none;
  }
}

footer {
  padding: 2rem;
  background: #dfdfdf;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

footer .container .social a {
  text-decoration: none;
  color: #131313;
  margin: 0 0.5rem;
  font-size: clamp(1.5rem, 1.25vw, 2rem);
}

.back-to-top {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: fixed;
  bottom: 5rem;
  right: 0;
  z-index: 99;
  border-radius: 0;
  width: 3rem;
  height: 3rem;
  background: #851f18;
  color: #fff;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.back-to-top:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
}

.back-to-top--show {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=app.css.map */